.card-alg {
  margin: 10px 15px;
  border-radius: 6px;
  background-color: white;
  background: linear-gradient(#7682a3, #9574c2);
  padding: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
}

.card-alg:before {
  border-radius: 6px;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 16px 32px 0 rgba(62,57,107,0.2);
  box-shadow: 0 16px 32px 0 rgba(62,57,107,0.2);
  opacity: .3;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.card-alg:hover:before {
  opacity: .8;
}

.pos-rel {
  position: relative;
}